.header{
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    color: white;
    position: relative;
}
h1{
  color: white;
  font-size: 4rem;
  position: absolute;
  top: 400px;
  left: 500px;
}
.open{
    color: white;
    background-color: black;
    padding: 10px;
    position: absolute;
    top: 700px;
    left: 50px;
}
h3{
    background-color: black;
    color: white;
    width: fit-content;
    margin-left: 550px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px;
    
}
img{
    width: 100%;
}
.para{
    width: 700px;
    position: relative;
    left: 300px;
    margin-top: 50px;
}
.para2{
    width: 700px;
    position: relative;
    left: 300px;
    margin-top: 20px;
}
.para3{
    background-color: whitesmoke;
    padding: 20px;
    width: 700px;
    position: relative;
    left: 300px;
    margin-top: 20px;
}
#imge{
    width: 700px;
   position: relative;
   left: 300px;
   padding: 30px;
}
.details>p>span{
    margin-left: 330px;
    font-weight: bold;
}
.details2>p>span{
    margin-left: 330px;
    font-weight: bold;
}
table{
    width: 300px;
    text-align: center;
}
.th1{
    background-color: black;
    color: white;
    width: 100px;
}
.img2{
   position: relative;
   left: 300px;
    width: 700px;
    height: 450px;
    
}
.address{
    margin-left: 300px;
}
.details-parent{
    margin-left: 300px;
    width: 700px;
    height: 100px;

}
.input-1{
    margin-left: 300px;
    padding: 10px;
    margin-top: 10px;
}
input{
    padding: 20px;
    width: 700px;
}
button{
    background-color: black;
    color: white;
    padding: 20px;
}
.powered{
    height: 100px;
    padding: 50px;
    background-color: whitesmoke;
    position: relative;
    
}
.by{
    position: absolute;
    top: 100px;
    left:600px ;
}
