.container{
    
    text-align: center;
      /* width: 600px; */
     padding: 50px;
    
   
}
.child-1{
    display:inline-block;
    width: 200px;
    height: 300px;

    padding: 5px;
}
.child-2{
    display:inline-block;
    width: 200px;
    height: 300px;
    padding: 5px;
}
.child-3{
    display:inline-block;
    width: 200px;
    height: 300px;
    padding: 5px;
}
.child-4{
    display:inline-block;
    width: 200px;
    height: 300px;
    padding: 5px;
}
img{
    height: 100%;
    width: 100%;
    
}