body{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}
.container{
    background-color:white;
    height: 200px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.child{
    display: inline-block;
    width: 15px;
    height: 30px;
    background-color: lightgreen;
    border-radius: 15px;
    transition: all 0.9s ease;
    animation-name: sound;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}
.child-1{
    animation-delay: 0.1s;
}
.child-2{
    animation-delay: 0.2s;
}
.child-3{
    animation-delay: 0.3s;
}
.child-4{
    animation-delay: 0.4s;
}
.child-5{
    animation-delay: 0.5s;
}
.child-6{
    animation-delay: 0.2s;
}
.child-7{
    animation-delay: 0.3s;
}
.child-8{
    animation-delay: 0.4s;
}
.child-9{
    animation-delay: 0.5s;
}
.child-10{
    animation-delay: 0.6s;
}
@keyframes sound{
    0%{
        height: 30px;
        /* transform: scaleY(1); */
    }
    50%{
        height: 150px;
        /* transform: scaleY(4); */
    }
    100%{
        height: 30px;
        /* transform: scaleY(1); */
    }
}